n8n_workflow_kdp.json
{
  "name": "KDP Book Generator - Livres Chrétiens",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kdp-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Nouveau Livre",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "check-theme",
              "leftValue": "={{ $json.body.theme }}",
              "rightValue": "",
              "operator": {"type": "string", "operation": "notEmpty"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-input",
      "name": "Vérifier le thème",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "=cd /root/kdp-automation && ANTHROPIC_API_KEY={{ $env.ANTHROPIC_API_KEY }} IDEOGRAM_API_KEY={{ $env.IDEOGRAM_API_KEY }} python3 generate_book.py \"{{ $json.body.theme }}\" 2>&1"
      },
      "id": "generate-book",
      "name": "Générer le Livre",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 220]
    },
    {
      "parameters": {
        "command": "=ls /root/kdp-automation/output/{{ $json.body.theme.replace(/ /g, '_').replace(/[^\\w_]/g, '') | slice(0, 50) }}/*.pdf 2>/dev/null | head -1"
      },
      "id": "find-output",
      "name": "Trouver les fichiers",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ *Nouveau livre généré !*\n\n📖 *{{ $('Webhook - Nouveau Livre').item.json.body.theme }}*\n\n📄 PDF, EPUB et couverture créés avec succès.\n\n📁 Dossier : `/root/kdp-automation/output/`\n\n_Généré automatiquement par KDP Bot_",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "telegram-success",
      "name": "Telegram - Succès",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=❌ *Erreur de génération*\n\nThème : {{ $('Webhook - Nouveau Livre').item.json.body.theme }}\n\nErreur : Thème manquant ou invalide.",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "telegram-error",
      "name": "Telegram - Erreur",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Livre en cours de génération\", \"theme\": \"{{ $('Webhook - Nouveau Livre').item.json.body.theme }}\"}"
      },
      "id": "response-ok",
      "name": "Réponse OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 520]
    }
  ],
  "connections": {
    "Webhook - Nouveau Livre": {
      "main": [[{"node": "Vérifier le thème", "type": "main", "index": 0}, {"node": "Réponse OK", "type": "main", "index": 0}]]
    },
    "Vérifier le thème": {
      "main": [
        [{"node": "Générer le Livre", "type": "main", "index": 0}],
        [{"node": "Telegram - Erreur", "type": "main", "index": 0}]
      ]
    },
    "Générer le Livre": {
      "main": [[{"node": "Trouver les fichiers", "type": "main", "index": 0}]]
    },
    "Trouver les fichiers": {
      "main": [[{"node": "Telegram - Succès", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [{"name": "KDP"}, {"name": "Livres Chrétiens"}],
  "triggerCount": 0,
  "updatedAt": "2026-05-11T00:00:00.000Z",
  "versionId": "1"
}
